/* Подключение шрифтов - нач */
@import url("../fonts/montserrat.css");
/* Подключение шрифтов - кон */

/* Начальная настройка шрифтов - нач */
body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    
    color: #1F1F1F;
    
    background-color: #FFF;
}

h2 {
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}
/* Начальная настройка шрифтов - кон */

/* Хедер и футер - нач */
.main-header, .main-footer {    
    padding-left: 20px;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 35px;
}

.main-footer {
    background-color: #5EB863;
    color: #fff;
}

.main-header p, .main-footer p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-logo, .footer-logo {
    margin-right: 40px;
}

.header-logo > img, .footer-logo > img {
    margin-right: 15px;
}

.header-logo > span, .footer-logo > span {
    padding-left: 15px;
}

.header-logo > span {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #5EB863;
}

.footer-logo > span {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #FFF;    
}

.city-choose {
    padding-left: 20px;
    padding-right: 10px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #5EB863;
    border-radius: 90px;
    
    background-image: linear-gradient(to left, #5EB863 15%, #FFF 15%);
    
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    
    color: #000;
}

.header-tel, .footer-tel {
    text-align: end;
    padding-left: 40px;
    margin-left: 80px;
}

.header-tel > a, .footer-tel > a {
    position: relative;
    text-decoration: none;
    
    font-size: 20px;
    line-height: 25px;
}

.header-tel > a {
    color: #000000;
}

.footer-tel > a {
    color: #FFF;
}

.header-tel > a::before, .footer-tel > a::before {
    content:"";

    position: absolute;

    background-position: top left;
    background-repeat: no-repeat;    
    
    width: 25px; height: 25px;
    top: 0px; left: -30px;
}

.header-tel > a::before {
    background-image: url("../img/ico_phone_green.svg");
}

.footer-tel > a::before {
    background-image: url("../img/ico_phone_white.svg");
}

button.btn-green-flat {
    background-color: #5EB863;
    
    border-style: solid;
    border-width: 1px;
    border-color: #84C888;
    border-radius: 90px;
    
    color: #FFF;
    
    font-weight: 800;
    text-align: center;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

button.burger {
    background: none;
    border: none;
}


/* Хедер и футер - кон */
