/* Подключение шрифтов - нач */
@import url("../fonts/montserrat.css");
/* Подключение шрифтов - кон */

/* Начальная настройка шрифтов - нач */
body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    
    color: #1F1F1F;
    
    background-color: #FFF;
}

h2 {
    font-size: 48px;
    line-height: 58px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}
/* Начальная настройка шрифтов - кон */

/* Хедер и футер - нач */
.main-header, .main-footer {    
    padding-left: 20px;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 35px;
}

.main-footer {
    background-color: #5EB863;
    color: #fff;
}

.main-header p, .main-footer p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-logo, .footer-logo {
    margin-right: 40px;
}

.header-logo > img, .footer-logo > img {
    margin-right: 15px;
}

.header-logo > span, .footer-logo > span {
    padding-left: 15px;
}

.header-logo > span {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #5EB863;
}

.footer-logo > span {
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: #FFF;    
}

.city-choose {
    padding-left: 20px;
    padding-right: 10px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #5EB863;
    border-radius: 90px;
    
    background-image: linear-gradient(to left, #5EB863 15%, #FFF 15%);
    
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    
    color: #000;
}

.header-tel, .footer-tel {
    text-align: end;
    padding-left: 40px;
    margin-left: 80px;
}

.header-tel > a, .footer-tel > a {
    position: relative;
    text-decoration: none;
    
    font-size: 20px;
    line-height: 25px;
}

.header-tel > a {
    color: #000000;
}

.footer-tel > a {
    color: #FFF;
}

.header-tel > a::before, .footer-tel > a::before {
    content:"";

    position: absolute;

    background-position: top left;
    background-repeat: no-repeat;    
    
    width: 25px; height: 25px;
    top: 0px; left: -30px;
}

.header-tel > a::before {
    background-image: url("../img/ico_phone_green.svg");
}

.footer-tel > a::before {
    background-image: url("../img/ico_phone_white.svg");
}

button.btn-green-flat {
    background-color: #5EB863;
    
    border-style: solid;
    border-width: 1px;
    border-color: #84C888;
    border-radius: 90px;
    
    color: #FFF;
    
    font-weight: 800;
    text-align: center;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

button.btn-white-border {
    padding-top: 5px; padding-bottom: 5px;
    padding-left: 20px; padding-right: 20px;
    
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    
    border: 2px solid #FFFFFF;
    border-radius: 90px;
    
    color: #FFF;
    
    background: none;
}

button.burger {
    background: none;
    border: none;
}
/* Хедер и футер - кон */


/* Мейн - нач */

b.green {
    font-weight: inherit;
    color: #5EB863;
}


/* Преимущества компании - нач */

.main-features-section {
    margin-bottom: 15px;
    
    padding-top: 65px;
    padding-bottom: 100px;
    
    background-image: url("../img/main_features_bg.png");
    background-size: cover;
    background-position: center center;
}

.main-offer {
    text-align: center;
    
    font-size: 64px;
    font-weight: 800;
    line-height: 78px;
    
    margin-bottom: 40px;
}

.main-features-block {
    margin-bottom: 50px;
}

.main-offer-suptext {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.main-features-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.main-features-list li {
    background-image: url("../img/ico_CheckBox.svg");
    background-repeat: no-repeat;
    background-position: left top;
    
    padding-left: 50px;
    
    margin-bottom: 60px;
}

.main-features-list li:last-child {
    margin-bottom: 0px;
}

.main-feature {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #1F1F1F;
    
    margin-bottom: 5px;
}

.main-feature-desc {
    margin-bottom: 0;
}

button#openModal3DProjecting {
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}
/* Преимущества компании - кон */

/* Акции - нач */

.promotions-section {
    margin-bottom: 100px;
}

.promotions-desc {
    text-align: center;
    
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
    
    margin-bottom: 45px;    
}

.slider-promo {
    list-style: none;
    padding-left: 0;
}

.slider-promo-item {
    padding-left: 45px;
    padding-top: 50px;
    padding-right: 45px;
    padding-bottom: 50px;
}

.promo-name, .promo-desc {
    margin-bottom: 0;
}

.free-services, .fabric-birthday, .blum-discount {
    position: relative;
}

.free-services .promo-name, .fabric-birthday .promo-name, .blum-discount .promo-name {
    margin-bottom: 10px;
}

.free-services {
    padding-right: 500px;
    
    background-color: #20A1FF;
    background-image: url("../img/slider_promotion_bg_1.png");
    background-position: left top;
    background-repeat: repeat;
    background-size: cover;
}

.free-services::after {
    content: "";
    
    position: absolute;
    bottom: 0; right: 0;
    
    width: 292px; height: 211px;
    
    background-image: url("../img/slider_promotion_gift.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
}

.free-services .promo-name {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    
    color: #FFF;
}

.free-services .promo-desc {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    
    color: #FFF;
}

.fabric-birthday {
    padding-right: 500px;
    
    background-color: #5EB863;
    background-image: url("../img/slider_promotion_bg_2.png");
    background-position: left top;
    background-repeat: repeat;
    background-size: cover;
}

.fabric-birthday::after {
    content: "30%";
    
    position: absolute;
    right: 30px; top: 10%;
    
    font-size: 196px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    line-height: 240px;
    
    color: #fff;
}

.fabric-birthday .promo-name {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    
    color: #FFF;
}

.fabric-birthday .promo-desc {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.blum-discount {
    padding-left: 500px;
    
    background-color: #FF521D;
}

.blum-discount::before {
    content: "";
    
    position: absolute;
    top: auto; left: 15px;
    
    width: 422px; height: 152px;
    
    background-image: url("../img/slider_promotion_blum.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.blum-discount .promo-name {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    
    text-align: right;
    
    color: #FFF;
}

.blum-discount .promo-desc {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    
    text-align: right;
    
    color: #1F1F1F;
}

.slider-promo-item.slick-slide {
    margin: 0 30px;
    
    transition-duration: 2s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}

.slider-promo-item.slick-slide:not(.slick-active) {
    opacity: 0.5;
}

.slider-promo .slick-dots li.slick-active button:before {
    background-color: #5EB863;
    opacity: 1;
}

.slider-promo .slick-dots li button:before {
    content: "";
    width: 28px; height: 28px;
    
    background-color: #D9D9D9;
    opacity: 1;
    border-radius: 100%;
}

.slider-promo .slick-dots {
    bottom: -40px;
}

.slider-promo .slick-dots li:not(:last-of-type) {
    margin-right: 30px;
}

.slider-promo button.slick-arrow {
    width: 65px; height: 65px;
    
    background: #40AC46;
    border-radius: 100%;
}

.slider-promo button.slick-arrow.slick-prev {
    margin-left: 90px;
    
    z-index: 100;
}

.slider-promo button.slick-arrow.slick-next {
    margin-right: 90px;
    
    z-index: 100;
}

.slider-promo button.slick-arrow.slick-prev::before {
    content: "";
    display: block;
    
    position: absolute;
    top: 16px; left: 16px;
    
    width: 32px; height: 32px;
    
    background-image: url("../img/ico_arrow_prev.svg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider-promo button.slick-arrow.slick-next::before {
    content: "";
    display: block;
    
    position: absolute;
    top: 16px; right: 16px;
    
    width: 32px; height: 32px;
    
    background-image: url("../img/ico_arrow_next.svg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;    
}
/* Акции - кон */


/* Беспроцентная рассрочка - нач */

.promotion-pinned-section {
    margin-bottom: 60px;
    
    padding-left: 150px;
    padding-top: 110px;
    padding-right: 200px;
    padding-bottom: 100px;
    
    background-color: #FFF;
    background-image: url("../img/installment_bg.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: padding-box;
}

.promotion-pinned-section h2 {
    margin-bottom: 75px;
    
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.promotion-pinned-desc {
    margin-bottom: 60px;
    
    text-align: center;
    color: #5EB863;
}

.promotion-pinned-desc td {
    font-size: 128px;
    font-weight: 700;
    line-height: 156px;
}

.promotion-pinned-desc th {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

form#installment input {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    
    background: #E0E0E0;
    border: 3px solid #BDBDBD;
    border-radius: 90px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #969696;
}

form#installment input:first-of-type {
    margin-right: 15px;
}

.installment-inputs {
    margin-bottom: 30px;
}

.installment-checkbox {
    margin-bottom: 30px;
    
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

button#orderKitchenInstallment {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

/* Беспроцентная рассрочка - кон */


/* Гарантия - нач */

.guarantee {  
    background-image: url("../img/warranty_bg.png");
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    
    box-shadow: 0 0 8px 8px white inset;
    
    padding-left: 0; padding-right: 0;    
    margin-bottom: 40px;
}

.guarantee-desc {
    padding-top: 85px;
    
    text-align: right;
    
    color: #FFF;
}

.guarantee-desc h2 {
    margin-bottom: 30px;
    
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    
    color: #FFF;
}

.guarantee-desc p {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}
/* Гарантия - кон */


/* Материалы - нач */

.kitch_Type input[type="radio"] {
  display: none;
}
.type-materials input[type="radio"] {
  display: none;
}
.type-materials label:hover,
.kitch_Type label:hover {
  cursor: pointer;
}
.kitch_Type input[type="radio"]:checked + label {
  background-color: #40ac46;
  color: white;
}
.kitch_Type_variations input[type="radio"]:checked + label {
  color: #40ac46;
}
.kitch_Type_variations label:not(:last-of-type)::after {
    content: "●";
    color: #5EB863;
    
    margin-left: 5px; margin-right: 5px;
}
.kitch_Type {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 25px;
}
.kitch_Type input[type="radio"]:checked + label i {
  display: inline-flex;
}
.kitch_Type label:not(:last-of-type) {
    margin-right: 15px;
}
.kitch_Type label:first-of-type {
    border-radius: 90px 0 0 90px;
}
.kitch_Type label:last-of-type {
    border-radius: 0 90px 90px 0;
}
.materials {
  margin-top: 60px;
}
.materials_Title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #1A1A1A;
    
    margin-bottom: 30px;
}
.kitch_Type_Btn {
  border: 2px solid #5EB863;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}
.desc_text {
    margin-top: 45px;
}
.desc_text img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  pointer-events: none;
    
  border-radius: 45px;
}
.desc_title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  padding-left: 2rem;
}
.desc_text {
  margin-bottom: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}
.desc_text div ul li {
  color: #40ac46;
}
.desc_text div ul li span {
  color: black;
}
.desc_text div ul li {
  margin: 20px 0;
}
/* Материалы - кон */


/* Наши дизайнеры - нач */

.our-designers {
    margin-bottom: 65px;
    
    background-image: url("../img/designers_bg.png");
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;
    
    box-shadow: 0 0 8px 8px white inset;
    
    padding-top: 75px; padding-bottom: 75px;
    padding-left: 0; padding-right: 0; 
}

.our-designers-promo-text {
    margin-bottom: 50px;
    
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    text-align: center;
}

.our-designers-list {
    padding: 0; margin: 0;
    
    list-style: none;
}

.our-designer-photo {
    text-align: center;
    
    margin-bottom: 45px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.25);
    
    border-color: #FFF;
    border-style: solid;
    border-width: 5px;
    border-radius: 45px;
}

.our-designer-info {
    padding-left: 20px; padding-right: 20px;
    
    text-align: center;
}

.our-designer-name {
    padding-top: 5px; padding-bottom: 5px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #1A1A1A;
}

.our-designer-experience {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    
    color: #000000;
}

/* Наши дизайнеры - кон */


/* Наше производство - нач */

.our-manufacture {
    margin-bottom: 100px;
}

.our-manufacture > h2 {
    margin-bottom: 70px;
    
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.slider-manufacture {
    list-style: none;
    padding-left: 0;
}

.slider-manufacture-item img {
    object-fit: contain;
}

.slider-manufacture-item.slick-slide {
    margin: 0 10px;
    
    transition-duration: 2s;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
}

.slider-manufacture-item.slick-slide:not(.slick-active) {
    transform: scale(0.9);
    opacity: 0.5;
}

.slider-manufacture .slick-dots li.slick-active button:before {
    background-color: #5EB863;
    opacity: 1;
}

.slider-manufacture .slick-dots li button:before {
    content: "";
    width: 28px; height: 28px;
    
    background-color: #D9D9D9;
    opacity: 1;
    border-radius: 100%;
}

.slider-manufacture .slick-dots {
    bottom: -40px;
}

.slider-manufacture .slick-dots li:not(:last-of-type) {
    margin-right: 20px;
}

.slider-manufacture button.slick-arrow {
    width: 65px; height: 65px;
    
    background: none;
}

.slider-manufacture button.slick-arrow.slick-prev {
    margin-left: 240px;
    
    z-index: 100;
}

.slider-manufacture button.slick-arrow.slick-next {
    margin-right: 240px;
    
    z-index: 100;
}

.slider-manufacture button.slick-arrow.slick-prev::before {
    content: "";
    display: block;
    
    position: absolute;
    top: 16px; left: 16px;
    
    width: 32px; height: 32px;
    
    background-image: url("../img/ico_arrow_prev.svg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider-manufacture button.slick-arrow.slick-next::before {
    content: "";
    display: block;
    
    position: absolute;
    top: 16px; right: 16px;
    
    width: 32px; height: 32px;
    
    background-image: url("../img/ico_arrow_next.svg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;    
}
/* Наше производство - кон */


/* Контакты - нач */

.contacts-section {
    padding: 0;
    position: relative;
}

.static-map {
    margin-bottom: 0;
}

.static-map img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-position: center center;
}

.addresses-contact-wrapper {
    padding: 0;
    margin-top: 160px;
    position: absolute;
}

.addresses {
    background: #5EB863;
    
    border-style: solid;
    border-color: #5EB863;
    border-width: 2px;
    border-radius: 15px;
}


.addresses-promo-text {
    padding: 25px 30px;
    
    background: #FFF;
    border-radius: 15px;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #000;
}

.addresses-list {
    list-style: none;
    padding-left: 30px;
    
    font-size: 20px;
    line-height: 24px;
    
    color: #FFF;
}

.addresses-list li:not(:last-of-type) {
    margin-bottom: 20px;
}

.addresses-list li address {
    font-weight: 600;
    margin-bottom: 0;
}

.contacts-tel {
    margin-bottom: 0;
    font-weight: 700;
}

.contacts-tel a {
    text-decoration: none;
    color: #FFF;
}

.contact-form {
    padding: 25px 30px;
    
    background: #FFF;
    
    border-style: solid;
    border-color: #5EB863;
    border-width: 2px;
    border-radius: 15px;
}

.contact-promo-text {
    margin-bottom: 20px;
    
    text-align: center;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #000;
}

form#sendQuestion input {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    
    background: #E0E0E0;
    border: 3px solid #BDBDBD;
    border-radius: 90px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #969696;
}

form#sendQuestion input, form#sendQuestion textarea {
    margin-bottom: 15px;
}

form#sendQuestion textarea {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    
    background: #E0E0E0;
    border: 3px solid #BDBDBD;
    border-radius: 15px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #969696;   
}

.send-question-agree-terms {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

form#sendQuestion button {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
/* Контакты - кон */


/* Мейн - кон */